@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font: normal 16px/18px "Open Sans", Helvetica, sans-serif;
	color: #000;
	background-color: #fff;
	width: 100%;
	overflow-x: hidden;
}
div, ul,li,  p, strong, h1, h2 {
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
ul,li {
	list-style: none;
}
input:focus, textarea:focus{
	outline: none;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
@media all and (max-width: 1170px) {
	.container {
		padding: 0 15px;
	}
}
.header {
	width: 100%;
}
.header-top {
	position: relative;
	padding: 15px 0 12px;
	width: 100%;
	background-color: #0099cc;
	&>.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.header-arrow-bottom {
	position: absolute;
	top: 0;
	left: 50%;
	@include x-transform;
	width: 22px;
	height: 21px;
	background-color: #fff;
	&:before {
		content: "";
		position: absolute;
		bottom: -6px;
		left: 50%;
		@include x-transform;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 11px 0 11px;
		border-color: #ffffff transparent transparent transparent;
	}
}
.header-top-nav {
	position: absolute;
	top: -400px;
	left: 0;
	width: 100%;
	background-color: #464b54;
	@include transition(.4s ease .1s);
	padding: 35px 0 34px;
	z-index: 1;
	&.show {
		top: 100%;
	}
	ul {
		&:after {
			@include clearfix;
		}
	}
	.column {
		float: left;
		&:not(:last-child) {
			margin-right: 100px;
		}
		li {
			&:not(:last-child) {
				margin-bottom: 14px;
			}
		}
		a {
			padding: 8px 0 9px;
			font-family: "Museo Sans Cyrl";
			font-size: 20px;
			font-weight: 500;
			line-height: 22px;
			color: #cccccc;
			@include transition(.2s ease 100ms);
			position: relative;
			&:hover {
				color: #fff;
			}
			&.active {
				color: #fff;
				&:before {
					content: "";
					left: -10px;
					top: 0;
					height: 100%;
					width: 4px;
					background-color: #1e88e5;
					position: absolute;
				}
			}
		}
	}
	.header-top-nav-title {
			color: #cccccc;
			font-family: "Museo Sans Cyrl";
			font-size: 28px;
			font-weight: 500;
			line-height: 24px;
			margin-bottom: 27px;
			display: inline-block;
	}
}
@media all and (max-width: 1000px) {
	.header-top-nav {
		display: none;
	}
}
.header-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media all and (max-width: 1000px) {
	.header-info {
		justify-content: space-between;
		width: 100%;
	}
}
.hamburger-button {
	width: 30px;
	height: 21px;
	position: relative;
	cursor: pointer;
	margin-right: 52px;
	&:after {
		content: '';
		position: absolute;
		bottom: 400px;
		left: 50%;
		@include x-transform;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 12px 17px 12px;
		border-color: transparent transparent #464b54 transparent;
		@include transition(.4s ease .1s);

	}
	span {
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 50%;
		@include y-transform;
		@include transition (.45s ease); 
		&:before {
			content: "";
			width: 100%;
			height: 3px;
			position: absolute;
			top: -9px;
			left: 0;
			background-color: #fff;
		}
		&:after {
			content: "";
			width: 100%;
			height: 3px;
			position: absolute;
			top: 9px;
			left: 0;
			background-color: #fff;
			@include transition (.45s ease); 
		}
	}
	&.close {
		&:after {
			bottom: -20px;
		}
		span {
			transform: translateY(-50%) rotate(45deg);
			&:before {
				display: none;
			}
			&:after {
				transform: rotate(-90deg);
				top: 0;
			}
		}
	}
}
@media all and (max-width: 1000px) {
	.hamburger-button {
		display: none;
	}
}
.hamburger-button-mobile {
	width: 30px;
	height: 21px;
	position: relative;
	cursor: pointer;
	margin-right: 52px;
	display: none;
	span {
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 50%;
		@include y-transform;
		@include transition (.45s ease); 
		&:before {
			content: "";
			width: 100%;
			height: 3px;
			position: absolute;
			top: -9px;
			left: 0;
			background-color: #fff;
		}
		&:after {
			content: "";
			width: 100%;
			height: 3px;
			position: absolute;
			top: 9px;
			left: 0;
			background-color: #fff;
			@include transition (.45s ease); 
		}
	}
}
@media all and (max-width: 1000px) {
	.hamburger-button-mobile {
		display: block;
	}
}
.mm-wrapper_opened {
	.hamburger-button-mobile {
		&:after {
			bottom: -20px;
		}
		span {
			transform: translateY(-50%) rotate(45deg);
			&:before {
				display: none;
			}
			&:after {
				transform: rotate(-90deg);
				top: 0;
			}
		}
	}
}
.mm-panel, .mm-panels {
	background-color: #464b54;
	border-color: #cccccc;
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
	color: #cccccc;
}
.mm-menu .mm-listview .mm-btn_next:after, .mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
	border-color: #cccccc;
}
.mm-menu a, .mm-menu a:link, .mm-menu a:visited, .mm-navbar__title {
	font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #cccccc;
}
.mm-listitem:after {
	border-color: #cccccc;
}
#mm-1 {
	.mm-navbar {
		height: 70px;
		.mm-navbar__title {
			display: none;
		}	
	}
	.mm-listview {
		margin-top: 11px;
		.skype-link {
			position: relative;
			padding-left: 46px;
			margin-top: 20px;
			@include transition (.5s linear);
			&:hover {
				color: #33ccff;
			}
			&:after {
				border-color: transparent;
			}
			&:before {
				content: "";
				position: absolute;
				left: 20px;
				top: 50%;
				@include y-transform;
				width: 26px;
				height: 25px;
				background-image: url(../img/sprite.png);
				background-position: 0px -32px;
			}
		}
		.mobile-number {
			margin-top: 20px;
			&:after {
				border-color: transparent;
			}
		}
		.bid {
			text-align: center;
			margin-top: 30px;
			&:after {
				border-color: transparent;
			}
			a {
				margin: 0 auto;
				&:focus {
					outline: none;
					border: 2px solid #009900;
				}
			}
		}
	}
}
.mm-menu .mm-listitem_selected>a:not(.mm-btn_next), .mm-menu .mm-listitem_selected>span {
	background: transparent;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}
.mobile-logo {
	span {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 48px;
		font-weight: 500;
		line-height: 44px;
	    display: inline-block;
	}
	b {
		font-weight: 500;
		display: inline-block;
		@include transition(.4s ease-out);
	}
}
.logo {
	margin-right: 30px;
	&:hover {
		& b {
			transform: rotateX(360deg);
		}
	}
	span {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 48px;
		font-weight: 500;
		line-height: 36px;
	    display: inline-block;
	}
	b {
		font-weight: 500;
		display: inline-block;
		@include transition(.4s ease-out);
	}
}
@media all and (max-width: 1000px) {
	.logo {
		display: none;
	}
}
.language-chooser {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	a {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 18px;
		font-weight: 300;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: 0.18px;
		padding-right: 12px;
		padding-left: 12px;
		position: relative;
		@include transition(.4s ease-out);
		&:hover {
			font-weight: 700;
		}
		&:first-child {
			padding-left: 0;
		}
		&:not(:last-child):after {
			content: "";
			position: absolute;
			right: 0;
			top: 2px;
			height: 15px;
			width: 2px;
			background-color: #fff;
		}
		&.active {
			font-weight: 700;
		}
	}
}
.header-contacts {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.skype-link {
		position: relative;
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 26px;
		font-weight: 500;
		line-height: 26px;
		padding-left: 46px;
		@include transition (.5s linear);
		margin-right: 45px;
		&:hover {
			color: #33ccff;
		}
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			@include y-transform;
			width: 26px;
			height: 25px;
			background-image: url(../img/sprite.png);
			background-position: 0px -32px;
		}
	}
	.header-number {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 26px;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: 0.26px;
		@include transition (.5s linear);
		&:hover {
			color: #33ccff;
		}
	}
}
@media all and (max-width: 1000px) {
	.header-contacts {
		display: none;
	}
}
.header-bottom {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media all and (max-width: 1000px) {
	.header-bottom {
		display: none;
	}
}
.header-nav {
	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	a {
		padding: 16px 15px 12px;
		display: block;
		color: #333333;
		font-size: 18px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.18px;
		@include transition (.2s linear);
		&:hover {
			background-color: #ececec;
		}
	}
	@media all and (max-width: 1170px) {
		a {
			font-size: 16px;
			padding: 16px 10px 12px;
		}
	}
}
.popup-btn {
	max-width: 221px;
	width: 100%;
	border-radius: 4px;
	background-color: #009900;
	text-align: center;
	padding: 6px 0;
	border: 2px solid transparent;
	@include transition (.2s linear);
	&:hover {
		background-color: #fff;
		border-color: #009900;
		span {
			color: #009900;
		}
	}
	span {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 16px;
		font-weight: 300;
		line-height: 16px;
		letter-spacing: 0.16px;
		@include transition (.2s linear);
	}
}

.context-block {
	padding: 64px 0;
	background-color: #33add5;
	position: relative;
}
.main-context-block-title {
	color: #ffffff;
	font-family: "Museo Sans Cyrl";
	font-size: 38px;
	font-weight: 400;
	line-height: 38px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	margin-bottom: 54px;
}
.tools-wrapper{
	display: flex;
	justify-content: center;
	align-items: top;
}
.tool-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 270px;
	&:first-child {
		margin-right: 141px;
	}
	a {
		text-align: center;
		&:hover .tool-title{
			color: #006699;
		}
	}
	img {
		max-width: 113px;
		width: 100%;
		margin-bottom: 12px;
	}
	.tool-title {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 54px;
		font-weight: 700;
		line-height: 60px;
		max-width: 235px;
		width: 100%;
		text-align: center;
		@include transition (.35s ease);
	}
	.tool-info {
		color: #212121;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		display: inline-block;
		margin-top: 20px;
		a {
			border-bottom: 1px dashed #7a7a7a;
			color: #212121;
		}
	}
}
.help-context-block {
	display: none;
	overflow: hidden;
	padding-top: 53px;
	&:after {
		@include clearfix;
	}
	p, span {
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		b {
			font-weight: 700;
		}
	}
	ul {
		margin-bottom: 25px;
	}
	.list-title {
		display: block;
	}
	.box {
		width: 50%;
		float: left;
		text-align: center;
		margin-top: 35px;
		margin-bottom: 25px;
		img {
			max-width: 365px;
			display: inline-block;
			margin-top: 25px;
			border-radius: 10px;
		}
	}
}
.warning-box-wrapper {
	text-align: center;
}
.warning-box {
	margin-top: 75px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	display: inline-block;
	padding: 30px 80px;
	position: relative;
	&:after {
		content: "!";
		position: absolute;
		left: -34px;
		top: 50%;
		@include y-transform;
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 72px;
		font-weight: 900;
		line-height: 72px;
		letter-spacing: 0.72px;
	}
	span {
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		letter-spacing: 0.16px;
	}
}
.open-btn {
	position: absolute;
	bottom: -21px;
	left: 50%;
	@include x-transform;
	padding: 12px 19px;
	border-radius: 4px;
	background-color: #169bd5;
	border: 2px solid transparent;
	@include transition(.25s linear);
	&:hover {
		bottom: -30px;
	}
	&.active {
		border: 2px solid #158db5;
		background-color: #ffffff;
		span {
			color: #169bd5;
		}
		&:hover {
			bottom: -15px;
		}
	}
	span {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 13px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.26px;
	}
}
section {
	padding-top: 75px;
}
@media all and (max-width: 636px) {
	section {
		padding-top: 30px;
	}
}
.work-steps {
	color: #333333;
	padding-bottom: 90px;
}
@media all and (max-width: 636px) {
	.work-steps  {
		padding-bottom: 30px;
	}
}
.section-title {
	font-family: "Museo Sans Cyrl";
	font-size: 36px;
	font-weight: 300;
	line-height: 36px;
	padding-left: 56px;
}
.tab-wrapper {
	position: relative;
}
.tabs{
	margin-top: 53px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	>li{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&:after {
			content: "";
			width: 100%;
			position: absolute;
			left: 0;
			height: 3px;
			background-color: #797979;
			top: 50%;
			@include y-transform;
			z-index: 1;
			@include transition(.25s linear);
		}
		@media all and (max-width: 1000px) {
			&:after {
				display: none;
			}
		}
		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			@include y-transform;
			border-radius: 50%;
			width: 9px;
			height: 9px;
			background-color: #797979;
			@include transition(.25s linear);
		}
		@media all and (max-width: 1000px) {
			&:before {
				display: none;
			}
		}
		&:not(:first-child) {
			margin-left: 1%;
		}
		&.active{
			&:after {
				background-color: #0099cc;
			}
			&:before {
				background-color: #0099cc;
			}
			.tab-box {
				background-color: #0099cc;
				color: #ffffff;
				border: 3px solid #0099cc;
			}
			&+li {
				&:after {
					background-color: #0099cc;
				}
				&:before {
					background-color: #0099cc;
				}
				.tab-box {
					border: 3px solid #0099cc;
					color: #0099cc;
				}
				span {
					color: #0099cc;
				}
			}
			span {
				color: #0099cc;
			}
		}
		&.preparation {
			padding-right: 7%;
		}
		@media all and (max-width: 1115px) {
			&.preparation {
				padding-right: 10%;
			}
		}
		&.adjustment {
			padding-right: 16%;
		}
		@media all and (max-width: 1115px) {
			&.adjustment {
				padding-right: 11%;
			}
		}
		&.optimization {
			padding-right: 23%;
		}
		@media all and (max-width: 1165px) {
			&.optimization {
				padding-right: 17%;
			}
		}
		.tab-box {
			border-radius: 5px;
			border: 3px solid #797979;
			color: #212121;
			font-size: 16px;
			font-weight: 400;
			line-height: 16px;
			cursor: pointer;
			background-color: #fff;
			@include transition(.25s linear);
			min-width: 146px;
			text-align: center;
			height: 56px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 2;
			&:hover {
				border: 3px solid #0099cc;
			}
		}
		span {
			color: #666666;
			font-size: 14px;
			font-weight: 700;
			line-height: 14px;
			position: absolute;
			right: 13px;
			top: 12px;
			z-index: 1;
		}
		@media all and (max-width: 1000px) {
			span {
				display: none;
			}
		}
	}
	@media all and (max-width: 1000px) {
		>li {
			padding-right: 0 !important;
		}
	}
	@media all and (max-width: 636px) {
		>li {
			min-width: 210px;
			.tab-box {
				width: 100%;
			}
			&:not(:last-child) {
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
}
@media all and (max-width: 1000px) {
	.tabs {
		justify-content: space-between;
	}
}
@media all and (max-width: 636px) {
	.tabs {
		flex-direction: column;
		margin-top: 25px;
	}
}
.tabs-nav {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	&:after {
		@include ib-clearfix;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #66c2e0;
		cursor: pointer;
		@include transition (.25s linear);
		&:hover {
			width: 16px;
			height: 16px;
		}
		&:not(:last-child) {
			margin-right: 35px;
		}
		&.active {
			width: 16px;
			height: 16px;
			background-color: #006699;
		}
	}
}
.tab__content{
	position: relative;
	>li{
		padding-top: 35px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		list-style: none;
	}
	.content-title-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 26px;
		i {
			width: 50px;
			height: 50px;
			margin-right: 26px;
		}
		.content-title {
			color: #006699;
			font-family: "Museo Sans Cyrl";
			font-size: 22px;
			font-weight: 400;
			line-height: 22px;
		}	
	}
	ul {
		margin-bottom: 25px;
		padding-left: 64px;
		li {
			list-style-type: disc;
			list-style-position: inside;
			color: #212121;
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			a {
				border-bottom: 1px dashed #212121;
				color: #212121;
			}
		}
	}
}

.quality-control {
	background-color: #33add5;
	padding-bottom: 75px;
	.section-title {
		color: #fff;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 56px;
			top: -72px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 24px 75px 0 75px;
			border-color: #ffffff transparent transparent transparent;
		}
		span {
			color: #6adaff;
			font-family: "Museo Sans Cyrl";
			font-weight: 600;
		}
	}
}
.stage-wrapper {
	margin-top: 23px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	.item {
		margin-top: 30px;
		max-width: 350px;
		width: 100%;
		&.first-stage {
			.quality-control-stage-number {
				&:after {
					left: 14px;
					top: 18px;
					width: 57px;
					height: 57px;
				}
			}
		}
		&.second-stage {
			.quality-control-stage-number {
				&:after {
					left: 15px;
					top: 10px;
					width: 76px;
					height: 76px;
				}
			}
			.stage-item-percent {
				left: 40px;
			}
			.stage-item-title {
				top: 10px;
				line-height: 19px;
			}
		}
		&.third-stage {
			margin-top: 0;
			.quality-control-stage-number {
				&:after {
					left: 15px;
					top: 25px;
					width: 43px;
					height: 43px;
				}
			}
			.stage-item-percent {
				left: 40px;
			}
			.stage-item-title {
				top: 10px;
				line-height: 19px;
			}
		}
		&.fourth-stage {
			margin-top: 12px;
			.quality-control-stage-number {
				&:after {
					left: 15px;
					top: 32px;
					width: 43px;
					height: 43px;
				}
			}
			.stage-item-percent {
				left: 40px;
			}
			.stage-item-title {
				top: 10px;
				line-height: 19px;
			}
		}
		&.sixth-stage {
			max-width: 45%;
			margin-left: 69px;
			.quality-control-stage-number {
				&:after {
					left: 14px;
					top: 18px;
					width: 57px;
					height: 57px;
				}
			}
			.stage-item-percent {
				left: 40px;
			}
		}
		&.fifth-stage {
			max-width: 42%;
			.quality-control-stage-number {
				&:after {
					left: 10px;
					top: 30px;
					width: 30px;
					height: 30px;
				}
			}
			.stage-item-percent {
				left: 40px;
			}
		}
	}
}
.stage-item-title-wrapper {
	padding-top: 9px;
	position: relative;
	@include ib-clearfix;
	.stage-item-percent {
		position: absolute;
		top: 0;
		left: 30px;
		color: #33ccff;
		font-family: "Museo Sans Cyrl";
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		text-transform: uppercase;
		letter-spacing: normal;
	}
	.quality-control-stage-number {
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 72px;
		font-weight: 500;
		line-height: 55px;
		text-transform: uppercase;
		position: relative;
		z-index: 2;
		display: inline-block;
		letter-spacing: normal;
		&:after {
			content: "";
			position: absolute;
			background-color: #33ccff;
			border-radius: 50%;
			z-index: -1;
		}
	}
	.stage-item-title {
		position: relative;
		z-index: 2;
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 16px;
		font-weight: 600;
		line-height: 16px;
		text-transform: uppercase;
		display: inline-block;
		letter-spacing: normal;
	    width: 87%;
	}
}
.stage-item-list {
	padding-left: 72px;
	margin-top: 22px;
	li {
		color: #212121;
		font-family: "Arial MT";
		font-size: 14px;
		font-weight: 400;
		letter-spacing: normal;
		&+li {
			margin-top: 20px;
		}
	}
}

.payment-methods {
	position: relative;
	padding-bottom: 75px;
	.section-title {
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 0;
			@include x-transform;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 24px 75px 0 75px;
			border-color: #33acd5 transparent transparent transparent;
		}
	}
}
.payment-methods-wrapper {
	margin-top: 105px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	.payment-methods-item {
		position: relative;
		max-width: 370px;
		min-height: 513px;
		width: 100%;
		text-align: center;
		background-color: #f1f1f1;
		background-image: radial-gradient(circle 287px at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 40%, rgba(225, 225, 225, 0.5) 100%);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}
.payment-methods-title {
	max-width: 269px;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 82px;
	line-height: 82px;
	background-color: #33add5;
	color: #feffff;
	font-family: "Museo Sans Cyrl";
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	position: relative;
	top: -42px;
}
.payment-methods-info {
	display: inline-block;
	position: relative;
	overflow: hidden;
	min-height: 260px;
	li {
		color: #7e7e7e;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		padding-bottom: 27px;
		position: relative;
		max-width: 280px;
		width: 100%;
		&:not(:last-child) {
			&:after {
				content: '. . .';
				position: absolute;
				left: 50%;
				@include x-transform;
				bottom: 0;
				opacity: 0.7;
				color: #7e7e7e;
				font-family: "Open Sans";
				font-size: 20px;
				font-weight: 900;
				line-height: 24px;
			}
		}
		.warning {
			color: #cc1a1a;
			text-transform: uppercase;
		}
	}
}
.payment-methods-price {
	position: absolute;
	bottom: 0;
	left: 50%;
	@include x-transform;
	color: #949393;
	font-family: "Museo Sans Cyrl";
	font-size: 18px;
	font-weight: 700;
	width: 100%;
	padding: 27px 0 36px;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		max-width: 237px;
		height: 1px;
		border-top: 1px dotted #949393;
		left: 50%;
		@include x-transform;
	}	
	b {
		color: #396c7d;
		font-family: "Open Sans";
		font-size: 48px;
		font-weight: 600;
		line-height: 44px;
	}
}
.brief-info {
	text-align: center;
	margin-top: 56px;
	&>span {
		color: #333333;
		font-size: 18px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.18px;
		display: block;
		margin-bottom: 36px;
		text-align: center;
	}
	.popup-btn {
		max-width: 295px;
		width: 100%;
	    display: inline-block;
	}
}

.our-cases {
	background-color: #33add5;
	padding-top: 0;
	padding-bottom: 75px;
	.container {
		position: relative;
		padding-top: 75px;
	}
	.section-title {
		color: #fefefe;
		a {
			border-bottom: 3px dashed #ffffff;
			color: #fefefe;
			font-family: "Museo Sans Cyrl";
			font-size: 36px;
			font-weight: 300;
			line-height: 36px;
		}
		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			@include x-transform;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 24px 75px 0 75px;
			border-color: #fff transparent transparent transparent;
		}
	}
}
.cases-wrapper {
	margin-top: 59px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.cases-item {
	padding: 40px 34px 0 34px ;
	max-width: 370px;
	width: 100%;
	min-height: 279px;
	@include transition(.25s linear);
	&:hover {
		background-color: #2ca6ce;
	}
	.cases-info {
		display: inline-block;
		color: #fefefe;
		font-size: 16px;
		line-height: 26px;
		font-weight: 400;
		text-decoration: underline;
		margin-bottom: 30px;
	}
	.cases-list {
		li {
			color: #fefefe;
			font-family: "Arial MT";
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;
			&+li {
				margin-top: 10px;
			}
			b {
				color: #212121;
			}
		}
	}
}
.company-review {
	padding: 0 101px 0 55px;
	text-align: center;
	margin-top: 46px;
	.review-info {
		padding-left: 45px;
		position: relative;
		color: #212121;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		&:before {
			content: '’’';
			position: absolute;
			left: -12px;
			top: 0;
			color: #33c5f7;
			font-family: "Dutch 801 Cyrillic BT";
			font-size: 80px;
			font-weight: 700;
			line-height: 25px;

		}
		a {
			color: #ffffff;
			text-decoration: underline;
		}
	}
	.case-quantity {
		text-align: left;
		margin-top: 40px;
		.number {
			color: #ffffff;
			font-family: "Avanti";
			font-size: 60px;
			font-weight: 900;
			line-height: 62px;
			display: block;
		}
		.name {
			color: #ffffff;
			font-size: 20px;
			font-weight: 400;
			line-height: 25px;
			display: block;
			margin-left: 20px;
			margin-top: 12px;
		}
	}
}
.our-certificates {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		@include x-transform;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 24px 75px 0 75px;
		border-color: #33acd5 transparent transparent transparent;
	}
}
.our-advantages {
	margin-top: 17px;
	padding: 0 123px 0 147px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	.adv-item {
		text-align: center;
		b {
			display: block;
			color: #212121;
			font-family: "Avanti";
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.18px;
			line-height: 25px;
		}
		.year {
			font-family: "Avanti";
			color: #0099cc;
			font-size: 70px;
			font-weight: 700;
			letter-spacing: 0.7px;
			line-height: 70px;
		}
		.direction {
			letter-spacing: 0.14px;
			line-height: 20px;
			font-size: 14px;
			font-weight: normal;
		}
	}
}
.certificates-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 65px;
	li {
		max-width: 165px;
		width: 100%;
	}
}
.certificates-descr {
	padding: 0 70px;
	text-align: center;
	margin-top: 50px;
	span {
		color: #212121;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0.14px;
	}
}
.questions {
	padding-bottom: 75px;
}
.links-wrapper {
	margin-top: 49px;
	display: flex;
	justify-content: space-between;
	.ask {
		color: #212121;
		font-family: "Museo Sans Cyrl";
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		padding-left: 33px;
		position: relative;
		@include transition (.25s linear);
		&:hover {
			color: #6adaff;
			&:before {
				color: #6adaff;
			}
		}
		&:before {
			content: "?";
			position: absolute;
			left: 0;
			top: 50%;
			@include y-transform;
			width: 26px;
			height: 26px;
			color: #ffffff;
			font-family: "Arial MT";
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			text-align: center;
			background-color: #0099cc;
			border-radius: 50%;
			@include transition (.25s linear);
		}
	}
	.open-all {
		color: #212121;
		font-family: "Museo Sans Cyrl";
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		padding-right: 33px;
		position: relative;
		@include transition (.25s linear);
		&:hover {
			color: #6adaff;
			&:after {
				color: #6adaff;
			}
		}
		&:after {
			content: "+";
			position: absolute;
			right: 0;
			top: 50%;
			@include y-transform;
			width: 26px;
			height: 26px;
			color: #ffffff;
			font-family: "Arial MT";
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			text-align: center;
			background-color: #0099cc;
			border-radius: 50%;
			@include transition (.25s linear);
		}
	}
}
.accordeon {
	margin: 26px 56px 0;
}
.accordeon_item {
	background: #e8e8e8;
	padding: 0 32px 0 34px;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	&.active {
		background-color: #c3c3c3;
		.accordeon_title {
			color: #fff;
			border-bottom: 3px dashed #e4e4e4;
			&:after {
				background-position: 0px -76px;
			}
		}
	}
	.accordeon_title {
		display: block;
		padding: 18px 0 14px;
		cursor: pointer;
		color: #333333;
		font-family: "Museo Sans Cyrl";
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			@include y-transform;
			width: 27px;
			height: 17px;
			background-image: url(../img/sprite.png);
			background-position: -27px -57px;
		}
	}
	.accordeon_content {
		margin: 17px 0 0;
		color: #212121;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		padding-bottom: 24px;
	}
}
.article {
	background-color: #33add5;
	padding-bottom: 40px;
	.section-title {
		color: #fefefe;
		a {
			color: #fefefe;
			font-family: "Museo Sans Cyrl";
			font-size: 36px;
			font-weight: 300;
			line-height: 38px;
			border-bottom: 3px dashed #ffffff;
		}
	}
}
.articles-wrapper {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.articles-item {
	max-width: 360px;
	width: 100%;
	.articles-date {
		color: #fefefe;
		font-size: 15px;
		font-weight: 400;
		line-height: 17px;
		display: block;
		text-align: left;
	}
	.article-title {
		margin-top: 30px;
		display: block;
		color: #fefefe;
		font-size: 16px;
		line-height: 25px;
		font-weight: 400;
		text-decoration: underline;
		text-align: left;
	}
	.article-descr {
		color: #fefefe;
		font-size: 15px;
		line-height: 25px;
		font-weight: 400;
		display: inline-block;
		margin-top: 20px;
	}
}
.articles-info {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 55px;
}
.articles-quantity {
	text-align: center;
	.number {
		color: #ffffff;
		font-family: "Avanti";
		font-size: 60px;
		font-weight: 700;
		line-height: 62px;
		display: block;
	}
	.name {
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 20px;
		font-weight: 600;
		line-height: 20px;
	}
}
.subscribe-btn {
	max-width: 267px;
	display: inline-block;
	width: 100%;
	height: 58px;
	border-radius: 5px;
	border: 2px solid #ffffff;
	text-align: left;
	padding: 0 20px 0 24px;
	position: relative;
	overflow: hidden;
	@include transition (.25s linear);
	&:hover {
		border: 2px solid #33ccff;
		&:after {
			transform: translate(60px, -60px);
		}
	}
	&:after {
		content: "";
		position: absolute;
		right: 20px;
		top: 50%;
		@include y-transform;
		width: 42px;
		height: 32px;
		background-image: url(../img/sprite.png);
		background-position: 0px 0px;
		@include transition (.25s linear);
	}
	span {
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 58px;
		@include transition (.25s linear);
	}
}
.footer {
	border-top: 1px solid #fff;
	padding: 31px 0 30px;
	text-align: center;
	background-color: #33add5;
	.container {
		@include clearfix;
	}
	.copyright {
		float: left;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
	}
	.social-icons {
		display: inline-block;
		@include ib-clearfix;
		li {
			display: inline-block;
			vertical-align: middle;
			&:not(:last-child) {
				margin-right: 20px;
			}
			a {
				position: relative;
				display: inline-block;
				@include transition (.25s linear);
				&:hover {
					transform: rotateY(360deg);
				}
				&:after {
					content: "";
					background-image: url(../img/sprite.png);
					position: absolute;
					left: 0;
					top: 0;
				}
				&.fb {
					width: 11px;
					height: 25px;
					&:after {
						background-position: -99px 0px;
						width: 11px;
						height: 25px;
					}
				}
				&.youtube {
					width: 27px;
					height: 19px;
					&:after {
						background-position: 0px -57px;
						width: 27px;
						height: 19px;
					}
				}
				&.insta {
					width: 22px;
					height: 22px;
					&:after {
						background-position: -77px 0px;
						width: 22px;
						height: 22px;
					}
				}
				&.vk {
					width: 30px;
					height: 18px;
					&:after {
						background-position: -26px -32px;
						width: 30px;
						height: 18px;
					}
				}
			}
		}
	}
}
#question {
	max-width: 531px;
}
.modal-wrapper{
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	border: 2px solid #ffffff;
	background-color: #0099cc;
	padding: 35px 24px 40px;
	label {
		display: block;
		position: relative;
		border-bottom: 1px solid #ffffff;
		padding: 10px 0 15px;
		margin-top: 40px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			background-image: url(../img/sprite.png);
		}
		&.name {
			&:before {
				background-position: -77px -22px;
				width: 20px;
				height: 22px;
				
			}
		}
		&.number {
			&:before {
				background-position: -77px -44px;
				width: 14px;
				height: 24px;
				left: 6px;
			}
		}
		&.email {
			&:before {
				background-position: -27px -76px;
				width: 25px;
				height: 15px;
				top: 13px;
			}
		}
		&.site-name {
			&:before {
				background-position: -42px 0px;
				width: 35px;
				height: 21px;
			}
		}
		input {
			border: none;
			background-color: transparent;
			color: #ffffff;
			font-size: 16px;
			font-weight: 400;
			line-height: 16px;
			padding-left: 60px;
			width: 100%;
			font-family: "Open Sans";
		}
		input::-webkit-input-placeholder {color:#fff;}
		input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
		input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
		input:-ms-input-placeholder      {color:#fff;}
		input[placeholder]          {text-overflow:ellipsis;}
		input::-moz-placeholder     {text-overflow:ellipsis;}
		input:-moz-placeholder      {text-overflow:ellipsis;}
		input:-ms-input-placeholder {text-overflow:ellipsis;}
		input:focus::-webkit-input-placeholder {opacity:0; transition: all 0.3s ease;}
		input:focus::-moz-placeholder          {opacity:0; transition: all 0.3s ease;}
		input:focus:-moz-placeholder           {opacity:0; transition: all 0.3s ease;}
		input:focus:-ms-input-placeholder      {opacity:0; transition: all 0.3s ease;}
	}
	textarea {
		border-radius: 5px;
		border: 1px solid #ffffff;
		background-color: transparent;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		padding-left: 60px;
		width: 100%;
		padding: 18px 0 0 19px;
		margin-top: 40px;
		height: 114px;
		font-family: "Open Sans";
	}
	textarea::-webkit-input-placeholder {color:#fff;}
	textarea::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
	textarea:-moz-placeholder           {color:#fff;}/* Firefox 18- */
	textarea:-ms-input-placeholder      {color:#fff;}
	textarea[placeholder]          {text-overflow:ellipsis;}
	textarea::-moz-placeholder     {text-overflow:ellipsis;}
	textarea:-moz-placeholder      {text-overflow:ellipsis;}
	textarea:-ms-input-placeholder {text-overflow:ellipsis;}
	textarea:focus::-webkit-input-placeholder {opacity:0; transition: all 0.3s ease;}
	textarea:focus::-moz-placeholder          {opacity:0; transition: all 0.3s ease;}
	textarea:focus:-moz-placeholder           {opacity:0; transition: all 0.3s ease;}
	textarea:focus:-ms-input-placeholder      {opacity:0; transition: all 0.3s ease;}
	input[type="submit"] {
		display: inline-block;
		max-width: 229px;
		width: 100%;
		height: 36px;
		line-height: 36px;
		letter-spacing: 0.16px;
		color: #ffffff;
		font-family: "Museo Sans Cyrl";
		font-size: 16px;
		font-weight: 400;
		margin-top: 35px;
		border-radius: 4px;
		background-color: #5e5e5e;
		@include transition(.35s linear);
		border: none;
		cursor: pointer;
		&:active {
			background-color: #fff;
			color: #5e5e5e;
		}
		&:hover {
			background-color: #fff;
			color: #5e5e5e;
		}
	}
}
.modal-title {
	color: #ffffff;
	font-family: "Museo Sans Cyrl";
	font-size: 28px;
	font-weight: 500;
	line-height: 30px;
}
.mfp-close-btn-in .mfp-close {
	color: #fff;
}
#bid {
	max-width: 511px;
}
#subscribe {
	max-width: 641px;
}